{% extends 'teachers_notebook/main.html' %}
{% block content %}
	<div class="col-md-7">
    <br>
		<h5>ALL LESSONS</h5>
		<hr>
		<div class="card card-body">
<br>
<div class="row">
	<div class="col">
		<div class="card card-body">
			<form method="get">
				{{index_filter.form}}
		    <button class="btn btn-primary" type="submit">Search</button>
		  </form>

		</div>
	</div>
</div>
<br>
			<table class="table table-sm">
				<tr>
					<th>Student</th>
					<th>Date Added</th>
					<th>Month</th>
					<th>Details</th>
					<th>Remove</th>
				</tr>
				{% for lesson in lessons %}
					<tr>
                        <td>{{ lesson.student }} </td>
						<td>{{ lesson.lesson_date }}</td>
						<td>{{ lesson.get_month_display }}</td>
                        <td><a class="btn btn-sm btn-info" href="{% url 'update_lesson' lesson.id %}">Details</a></td>
                        <td><a class="btn btn-sm btn-danger" href="{% url 'delete_lesson' lesson.id %}">Delete</a></td>
					</tr>
				{% endfor %}
			</table>

{% if lessons.has_other_pages %}
  <ul class="pagination">
   {% if lessons.has_previous %}
      <li><a href="?page={{ lessons.previous_page_number }}">&laquo;</a>&nbsp;</li>
     <li><a href="?page={{ lessons.previous_page_number }}">&laquo;</a>&nbsp;</li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in lessons.paginator.page_range %}
      {% if lessons.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span>&nbsp;</span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a>&nbsp</li>
      {% endif %}
    {% endfor %}
    {% if lessons.has_next %}
      <li><a href="?page={{ lessons.next_page_number }}&{{ parameters }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
		</div>
	</div>
{% endblock %}